<!DOCTYPE html>
<html lang="en">

<head>
    {{> header }}
</head>

<body>
<div id="wrapper">

    <!-- Navigation -->
    {{> leftbar }}

    <div id="page-wrapper">
        {{{ body }}}
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<div class="footer">
    {{> footer }}
</div>
</body>

</html>
